<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Error page</title>
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<header>
    <div th:replace="fragments/header :: header-css"></div>
</header>

<div class="container">

    <div class="starter-template">
        <!--responce code-->
        <h1>Sorry, we really did our best, but shit happens sometimes. :(</h1>

        <div th:inline="text">Hello '[[${#httpServletRequest.remoteUser}]]', Some errors happen. Sorry for unconvinced.</div>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>