<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Error page</title>
    <div th:replace="fragments/header :: header-css"/>
</head>

<body th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">

<div th:replace="fragments/header :: header"/>

    <!--<h1 th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</h1>-->
    <p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
    <a th:href="@{/home}">Back to Home Page</a>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>