<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Error page</title>

    <div th:replace="fragments/header :: header-css"/>
</head>

<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <!--response code-->
        <h1>Sorry, we really did our best
            However, some shit happens sometimes :( </h1>

        <div th:inline="text">Some error occurred. Sorry for inconvenience.</div>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>