<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>BlogUser Personal page</title>

    <div th:replace="fragments/header :: header-css"/>
</head>

<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h4 th:inline="text">Home Page: [[${#httpServletRequest.remoteUser}]]</h4>

        <div th:if="${not #lists.isEmpty(posts)}">
            <!--<h2 sec:authentication="name">Posts</h2>-->
            <h3>Posts:</h3>
            <table class="table table-striped">
                <tr>
                    <th>Post</th>
                    <th>Date</th>
                </tr>
                <tr th:each="post : ${posts}">
                    <td th:text="${post.postText}"></td>
                    <td th:text="${post.createdDate}"></td>
                </tr>
            </table>
        </div>

    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>