 <!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
 >
<head>
    <title>Registration Page</title>
    <div th:replace="fragments/header :: header-css"/>
</head>

<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

            <!--If modelAttribute will fail, use form:form tag-->
            <form th:action="@{/registration}" method="post" modelAttribute="newUser">
            <!--<form th:action="@{/registration}" method="post" th:object="${user}">-->
                <fieldset>
                    <h1>Register new Blog User</h1>

                    <div th:if="${nameError}">
                        <div th:utext="${nameError}" class="alert alert-danger"></div>
                    </div>
                    <div th:if="${emailError}">
                        <div th:utext="${emailError}" class="alert alert-danger"></div>
                    </div>

                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            Invalid username or password.
                        </div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">
                            You have been logged out.
                        </div>
                    </div>

                    <div th:if="${successMessage}">
                        <div th:utext="${successMessage}" class="alert alert-success">
                            <!--You have been logged out.-->
                        </div>
                    </div>


                    <div class="form-group">
                        <input type="text" name="userName" id="userName" class="form-control input-lg"
                               placeholder="UserName for new User" required="true" autofocus="true"/>
                    </div>

                    <div class="form-group">
                        <input type="password" name="password" id="password" class="form-control input-lg"
                               placeholder="Password" minlength="4"/>
                    </div>

                    <div class="form-group">
                        <input type="email" name="email" id="email" class="form-control input-lg"
                               placeholder="Your Email" pattern="[^ @]*@[^ @]*\.[^ @]{2,}"/>
                    </div>

                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Register User"/>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                        </div>

                        <a class="link" th:href="@{/login}">Already registered? Login.</a>
                    </div>

                    <!--<span th:utext="${successMessage}" class="alert alert-success"></span>-->
                </fieldset>
            </form>
        </div>
    </div>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>